    <div class="columns page-header">
      <h1>null的博客</h1>
    </div>
    <div class="columns">
      <div class="navigation clearfix">
        <nav class="menus-main left">
          <a href="/" class="favicon">
            <img alt="null在吹牛逼" src="/blog/images/favicon.png"/>
          </a>
          <a href="/">关于</a>
          <a href="/">简历</a>
          <a href="/">链接</a>
          <a href="/">书单</a>
          <a href="/">碎语</a>
          <a href="/">所有日志</a>
        </nav>
        <nav class="menus-right right">
          <a target="_blank" href="http://git.oschina.net/mywei1989" class="favicon">
            <img alt="myGitosc" src="/blog/images/gitosc.png"/>
          </a>
          <a target="_blank" href="https://github.com/mywei1989" class="favicon">
            <img alt="myGithub" src="/blog/images/github.png"/>
          </a>
        </nav>
      </div>
    </div>
    <div class="columns">