        <div class="block-sidebar column one-fourth">
          <div class="widget text-content">
            <p>家穷人丑一米六九小学学籍农村户口?</p>
            <ul>
              <li>这是个悲伤的故事</li>
              <li>
                <a href="http://www.cnblogs.com/nullcnb">独立博客</a>
                作者
              </li>
            </ul>
          </div>
          <div class="widget tags">
            <ul class="tag-list">
               <% if(typeof tags != 'undefined'){ %>
                <% for(var i=0;i<tags.length;i++){ %>
                  <li class="tag-list-item">
                    <a class="tag-list-link" href="/tag/<%= tags[i].tag %>/"><%= tags[i].tagName %></a>
                  </li>
                <% } %>
              <% } %>
            </ul>
          </div>
          <div class="widget archives">
            <ul class="archive-list">
              <li class="archive-list-item">
                <a class="archive-list-link" href="/2015/09/">九月 2015</a>
                <span class="archive-list-count">1</span>
              </li>
              <li class="archive-list-item">
                <a class="archive-list-link" href="/2015/08/">八月 2015</a>
                <span class="archive-list-count">1</span>
              </li>
              <li class="archive-list-item">
                <a class="archive-list-link" href="/2015/07/">七月 2015</a>
                <span class="archive-list-count">1</span>
              </li>
              <li class="archive-list-item">
                <a class="archive-list-link" href="/2015/06/">六月 2015</a>
                <span class="archive-list-count">1</span>
              </li>
              <li class="archive-list-item">
                <a class="archive-list-link" href="/2015/05/">五月 2015</a>
                <span class="archive-list-count">3</span>
              </li>
              <li class="archive-list-item">
                <a class="archive-list-link" href="/2015/04/">四月 2015</a>
                <span class="archive-list-count">3</span>
              </li>
              <li class="archive-list-item">
                <a class="archive-list-link" href="/2015/03/">三月 2015</a>
                <span class="archive-list-count">1</span>
              </li>
              <li class="archive-list-item">
                <a class="archive-list-link" href="/2015/02/">二月 2015</a>
                <span class="archive-list-count">4</span>
              </li>
              <li class="archive-list-item">
                <a class="archive-list-link" href="/2015/01/">一月 2015</a>
                <span class="archive-list-count">2</span>
              </li>
              <li class="archive-list-item">
                <a class="archive-list-link" href="/2014/12/">十二月 2014</a>
                <span class="archive-list-count">2</span>
              </li>
              <li class="archive-list-item">
                <a class="archive-list-link" href="/2014/11/">十一月 2014</a>
                <span class="archive-list-count">3</span>
              </li>
              <li class="archive-list-item">
                <a class="archive-list-link" href="/2014/10/">十月 2014</a>
                <span class="archive-list-count">2</span>
              </li>
              <li class="archive-list-item">
                <a class="archive-list-link" href="/2014/09/">九月 2014</a>
                <span class="archive-list-count">2</span>
              </li>
              <li class="archive-list-item">
                <a class="archive-list-link" href="/2014/08/">八月 2014</a>
                <span class="archive-list-count">1</span>
              </li>
              <li class="archive-list-item">
                <a class="archive-list-link" href="/2014/07/">七月 2014</a>
                <span class="archive-list-count">2</span>
              </li>
              <li class="archive-list-item">
                <a class="archive-list-link" href="/2014/06/">六月 2014</a>
                <span class="archive-list-count">2</span>
              </li>
              <li class="archive-list-item">
                <a class="archive-list-link" href="/2014/05/">五月 2014</a>
                <span class="archive-list-count">2</span>
              </li>
              <li class="archive-list-item">
                <a class="archive-list-link" href="/2014/04/">四月 2014</a>
                <span class="archive-list-count">1</span>
              </li>
              <li class="archive-list-item">
                <a class="archive-list-link" href="/2014/03/">三月 2014</a>
                <span class="archive-list-count">2</span>
              </li>
              <li class="archive-list-item">
                <a class="archive-list-link" href="/2014/02/">二月 2014</a>
                <span class="archive-list-count">3</span>
              </li>
              <li class="archive-list-item">
                <a class="archive-list-link" href="/2014/01/">一月 2014</a>
                <span class="archive-list-count">2</span>
              </li>
              <li class="archive-list-item">
                <a class="archive-list-link" href="/2013/12/">十二月 2013</a>
                <span class="archive-list-count">5</span>
              </li>
              <li class="archive-list-item">
                <a class="archive-list-link" href="/2013/11/">十一月 2013</a>
                <span class="archive-list-count">2</span>
              </li>
              <li class="archive-list-item">
                <a class="archive-list-link" href="/2013/10/">十月 2013</a>
                <span class="archive-list-count">4</span>
              </li>
              <li class="archive-list-item">
                <a class="archive-list-link" href="/2013/09/">九月 2013</a>
                <span class="archive-list-count">4</span>
              </li>
              <li class="archive-list-item">
                <a class="archive-list-link" href="/2013/08/">八月 2013</a>
                <span class="archive-list-count">8</span>
              </li>
              <li class="archive-list-item">
                <a class="archive-list-link" href="/2013/07/">七月 2013</a>
                <span class="archive-list-count">5</span>
              </li>
              <li class="archive-list-item">
                <a class="archive-list-link" href="/2013/06/">六月 2013</a>
                <span class="archive-list-count">13</span>
              </li>
              <li class="archive-list-item">
                <a class="archive-list-link" href="/2013/05/">五月 2013</a>
                <span class="archive-list-count">7</span>
              </li>
              <li class="archive-list-item">
                <a class="archive-list-link" href="/2013/04/">四月 2013</a>
                <span class="archive-list-count">6</span>
              </li>
              <li class="archive-list-item">
                <a class="archive-list-link" href="/2013/03/">三月 2013</a>
                <span class="archive-list-count">3</span>
              </li>
              <li class="archive-list-item">
                <a class="archive-list-link" href="/2013/02/">二月 2013</a>
                <span class="archive-list-count">5</span>
              </li>
              <li class="archive-list-item">
                <a class="archive-list-link" href="/2012/12/">十二月 2012</a>
                <span class="archive-list-count">4</span>
              </li>
              <li class="archive-list-item">
                <a class="archive-list-link" href="/2012/11/">十一月 2012</a>
                <span class="archive-list-count">12</span>
              </li>
              <li class="archive-list-item">
                <a class="archive-list-link" href="/2012/10/">十月 2012</a>
                <span class="archive-list-count">4</span>
              </li>
              <li class="archive-list-item">
                <a class="archive-list-link" href="/2012/09/">九月 2012</a>
                <span class="archive-list-count">1</span>
              </li>
              <li class="archive-list-item">
                <a class="archive-list-link" href="/2012/08/">八月 2012</a>
                <span class="archive-list-count">5</span>
              </li>
              <li class="archive-list-item">
                <a class="archive-list-link" href="/2012/06/">六月 2012</a>
                <span class="archive-list-count">3</span>
              </li>
              <li class="archive-list-item">
                <a class="archive-list-link" href="/2012/05/">五月 2012</a>
                <span class="archive-list-count">4</span>
              </li>
              <li class="archive-list-item">
                <a class="archive-list-link" href="/2012/04/">四月 2012</a>
                <span class="archive-list-count">1</span>
              </li>
              <li class="archive-list-item">
                <a class="archive-list-link" href="/2012/03/">三月 2012</a>
                <span class="archive-list-count">2</span>
              </li>
              <li class="archive-list-item">
                <a class="archive-list-link" href="/2012/02/">二月 2012</a>
                <span class="archive-list-count">4</span>
              </li>
              <li class="archive-list-item">
                <a class="archive-list-link" href="/2012/01/">一月 2012</a>
                <span class="archive-list-count">2</span>
              </li>
              <li class="archive-list-item">
                <a class="archive-list-link" href="/2011/12/">十二月 2011</a>
                <span class="archive-list-count">1</span>
              </li>
              <li class="archive-list-item">
                <a class="archive-list-link" href="/2011/11/">十一月 2011</a>
                <span class="archive-list-count">4</span>
              </li>
              <li class="archive-list-item">
                <a class="archive-list-link" href="/2011/10/">十月 2011</a>
                <span class="archive-list-count">4</span>
              </li>
              <li class="archive-list-item">
                <a class="archive-list-link" href="/2011/09/">九月 2011</a>
                <span class="archive-list-count">2</span>
              </li>
              <li class="archive-list-item">
                <a class="archive-list-link" href="/2011/08/">八月 2011</a>
                <span class="archive-list-count">6</span>
              </li>
              <li class="archive-list-item">
                <a class="archive-list-link" href="/2011/07/">七月 2011</a>
                <span class="archive-list-count">4</span>
              </li>
              <li class="archive-list-item">
                <a class="archive-list-link" href="/2011/06/">六月 2011</a>
                <span class="archive-list-count">2</span>
              </li>
            </ul>
          </div>
          <div class="widget text-content">
            <p>
              该博客使用基于 &nbsp;
              <a href="http://www.expressjs.com">express</a>
            </p>
          </div>
        </div>
    </div>
  </div>
</body>
</html>