<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <title>null-login</title>
  <meta charset="utf-8" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- inject:css -->
  <link type="text/css" rel="stylesheet" href="/global/plugins/normalize.css/normalize.css" />
  <link type="text/css" rel="stylesheet" href="/blog/css/style.css" />
  <!-- endinject -->
</head>
<body class="login">

  <div class="wrapper">
    <div class="container">
      <form class="form" method="post">
        <input type="text" placeholder="用户名" name="userName">
        <input type="password" placeholder="密码" name="userPassword">
        <button type="submit" id="login-button">登录</button>
      </form>
    </div>

    <ul class="bg-bubbles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</body>
</html>